<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head (pageTitle='Time Vision: Attempt')">
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments :: header"></header>

    <main th:object="${task}">
        <div th:object="${attempt}">
            <h1>New Attempt For: <a th:href="@{'/tasks/' + ${task.id}}" th:text="${task.name}">Task Name</a></h1>

            <p class="center" th:text="${task.description}">Task Description</p>

            <div class="card mx-auto center">
                <form class="card-body d-flex flex-column" th:action="@{'/tasks/' + ${task.id} + '/attempt/' + ${attempt.id}}"
                    method="post">
                    <button class="btn btn-success btn-lg" type="submit" name="action" th:value="start"
                        th:text="Start"></button>
                    <p>Start Time: <span th:text="${attempt.startTimeString()}">00:00:00</span></p>

                    <button class="btn btn-danger btn-lg" type="submit" name="action" th:value="stop"
                        th:text="Stop"></button>
                    <p>Stop Time: <span th:text="${attempt.stopTimeString()}">00:00:00</span></p>

                    <button class="btn btn-info btn-lg" type="submit" name="action" th:value="save"
                        th:text="Save"></button>
                </form>
            </div>

        </div>
    </main>

    <footer th:replace="fragments :: footer"></footer>

    <div th:replace="fragments :: scripts"></div>
</body>

</html>