<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head (pageTitle='Time Vision: Edit User')">
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments :: header"></header>

    <h1>Edit User</h1>

    <div class="card mx-auto">
    <form class="card-body" th:action="@{/users/save}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{password}">

        <label class="form-label" for="email">Email: </label>
        <input class="form-control" type="email" id="email" name="email" th:field="*{email}" required>

        <label class="form-label" for="firstname">First Name: </label>
        <input class="form-control" type="text" id="firstname" name="firstname" th:field="*{firstName}" required maxlength="20">

        <label class="form-label" for="lastname">Last Name: </label>
        <input class="form-control" type="text" id="lastname" name="lastname" th:field="*{lastName}" required maxlength="20">

        <label class="form-label" for="roles">Roles: </label>
        <div class="form-check form-switch" th:each="role : ${listRoles}">
            <input class="form-check-input" type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}">
        </div>
<br>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

    </div>

    <footer th:replace="fragments :: footer"></footer>

    <div th:replace="fragments :: scripts"></div>
</body>

</html>