<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Vision</title>
</head>
<body>
    <header th:fragment="header" class="container-fluid">
        <h1>Time Vision</h1>
        <ul class="row">
            <li class="col-sm">
                <a th:href="@{/}">Home</a>
            </li>            
            <li sec:authorize="isAuthenticated() "class="col-sm">
                <a th:href="@{/tasks}">My Tasks</a>
            </li>
            <li sec:authorize="hasAuthority('Admin')" class="col-sm">
                <a th:href="@{/tasks/all}">All Tasks</a>
            </li>
            <li sec:authorize="hasAuthority('Admin')" class="col-sm">
                <a th:href="@{/users}">User List</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="col-sm">
                <a th:href="@{/logout}">Log Out</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="col-sm">
                <a th:href="@{/register}">Register</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="col-sm">
                <a th:href="@{/login}">Log In</a>
            </li>
        </ul>
    </header>

    <footer th:fragment="footer" class="mt-auto">
        <div>
            &copy; Betty and Chris 2022
        </div>
    </footer>
</body>
</html>