<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Blindness App</title>
</head>
<body>
    <header th:fragment="header">
        <h1>Time Blindness App</h1>
        <ul>
            <li>
                <a th:href="@{/}">Home</a>
            </li>            
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/tasks}">My Tasks</a>
            </li>
            <li sec:authorize="hasAuthority('Admin')">
                <a th:href="@{/tasks/all}">All Tasks</a>
            </li>
            <li sec:authorize="hasAuthority('Admin')">
                <a th:href="@{/users}">User List</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Log Out</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/register}">Register</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Log In</a>
            </li>
        </ul>
    </header>

    <footer th:fragment="footer">
        <div>
            &copy; Betty and Chris 2022
        </div>
    </footer>
</body>
</html>