<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head (pageTitle='Time Vision: Log In')">
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments :: header"></header>

    <p th:if="${param.error}">Invalid Email or Password</p>

    <h1>Log In</h1>

    <div class="card mx-auto">
        <form class="card-body" th:action="@{/login}" method="post">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" type="email" name="email" id="email" required>

            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" required>
            
            <br>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>

    <footer th:replace="fragments :: footer"></footer>

    <div th:replace="fragments :: scripts"></div>
</body>

</html>