<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head (pageTitle='Time Vision: New Task')">
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments :: header"></header>

    <h1>New Task</h1>

    <div class="card mx-auto">
        <form class="card-body" th:action="@{/tasks/save}" th:object="${task}" method="post">
            <label class="form-label" for="name">Name: </label>
            <input class="form-control" type="text" id="name" name="name" th:field="*{name}" required>

            <label class="form-label" for="description">Description: </label>
            <input class="form-control" type="text" id="description" name="description" th:field="*{description}" maxlength="255">
            <br>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>


    <footer th:replace="fragments :: footer"></footer>

    <div th:replace="fragments :: scripts"></div>
</body>

</html>