<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head (pageTitle='Time Vision: Register')">
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments :: header"></header>

    <h1>Register</h1>

    <div class="card mx-auto">
        <form class="card-body" th:action="@{/process_registration}" th:object="${user}" method="post" autocomplete="on">
            <label class="form-label" for="email">Email: </label>
            <input class="form-control" type="email" id="email" name="email" th:field="*{email}" required>

            <label class="form-label" for="password">Password: </label>
            <input class="form-control" type="password" id="password" name="password" th:field="*{password}" required>

            <label class="form-label" for="firstname">First Name: </label>
            <input class="form-control" type="text" id="firstname" name="firstname" th:field="*{firstName}" required
                maxlength="20">

            <label class="form-label" for="lastname">Last Name: </label>
            <input class="form-control" type="text" id="lastname" name="lastname" th:field="*{lastName}" required
                maxlength="20">

            <br>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>

    <footer th:replace="fragments :: footer"></footer>

    <div th:replace="fragments :: scripts"></div>
</body>

</html>