<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Blindness App</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>

    <h1>Register</h1>
    <form th:action="@{/process_registration}" th:object="${user}" method="post" autocomplete="on">
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" th:field="*{email}" required>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" th:field="*{password}" required>

        <label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="firstname" th:field="*{firstName}" required maxlength="20">

        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastname" th:field="*{lastName}" required maxlength="20">

        <button type="submit">Submit</button>
    </form>

    <footer th:replace="fragments :: footer"></footer>
</body>
</html>
