<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Blindness App</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments :: header"></header>

    <h1 th:if="${all}">All Tasks</h1>
    <h1 th:unless="${all}">My Tasks</h1>

    <p th:if="${param.editsuccess}">Your changes have been saved</p>
    <p th:if="${param.deletesuccess}">Task has been deleted</p>

    <a th:unless="${all}" th:href="@{/tasks/new}">Add New Task</a>

    <table>
        <thead>
            <tr>
                <th th:if="${all}">
                    User ID
                </th>
                <th>
                    <a th:if="${all}" th:href="@{'/tasks/all/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Task Name</a>
                    <a th:unless="${all}" th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Task Name</a>
                </th>
                <th>
                    <a th:if="${all}" th:href="@{'/tasks/all/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">Description</a>
                    <a th:unless="${all}" th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">Description</a>
                </th>
                <th>
                    <a th:if="${all}" th:href="@{'/tasks/all/page/' + ${currentPage} + '?sortField=attempts&sortDir=' + ${reverseSortDir}}">Attempts</a>
                    <a th:unless="${all}" th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=attempts&sortDir=' + ${reverseSortDir}}">Attempts</a>
                </th>
                <th>
                    <a th:if="${all}" th:href="@{'/tasks/all/page/' + ${currentPage} + '?sortField=shortestTime&sortDir=' + ${reverseSortDir}}">Shortest Time</a>
                    <a th:unless="${all}" th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=shortestTime&sortDir=' + ${reverseSortDir}}">Shortest Time</a>
                </th>
                <th>
                    <a th:if="${all}" th:href="@{'/tasks/all/page/' + ${currentPage} + '?sortField=longestTime&sortDir=' + ${reverseSortDir}}">Longest Time</a>
                    <a th:unless="${all}" th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=longestTime&sortDir=' + ${reverseSortDir}}">Longest Time</a>
                </th>
                <th>
                    <a th:if="${all}" th:href="@{'/tasks/all/page/' + ${currentPage} + '?sortField=averageTime&sortDir=' + ${reverseSortDir}}">Average Time</a>
                    <a th:unless="${all}" th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=averageTime&sortDir=' + ${reverseSortDir}}">Average Time</a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${listTasks}">
                <td th:if="${all}" th:text="${task.user.id}">User ID</td>
                <td>
                    <a th:href="@{'/tasks/' + ${task.id}}" th:text="${task.name}">Task Name</a>
                </td>
                <td th:text="${task.description}">Description</td>
                <td th:text="${task.numAttempts}">Number of Attempts</td>
                <td th:text="${task.shortestTimeString()}">Shortest Time</td>
                <td th:text="${task.longestTimeString()}">Longest Time</td>
                <td th:text="${task.averageTimeString()}">Average Time</td>
                <td>
                    <a th:href="@{'/tasks/edit/' + ${task.id}}">Edit</a>
                    <a th:href="@{'/tasks/delete/' + ${task.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <ul th:if="${all}">
        <li>
            <a th:if="${currentPage > 1}" th:href="@{'/tasks/all/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
            <span th:unless="${currentPage > 1}">First</span>
        </li>
        <li>
            <a th:if="${currentPage > 1}" th:href="@{'/tasks/all/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
            <span th:unless="${currentPage > 1}">Previous</span>
        </li>
        <li>
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/tasks/all/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>
                &nbsp; &nbsp;
            </span>
        </li>
        <li>
            <a th:if="${currentPage < totalPages}" th:href="@{'/tasks/all/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li>
            <a th:if="${currentPage < totalPages}" th:href="@{'/tasks/all/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </li>
    </ul>

    <ul th:unless="${all}">
        <li>
            <a th:if="${currentPage > 1}" th:href="@{'/tasks/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
            <span th:unless="${currentPage > 1}">First</span>
        </li>
        <li>
            <a th:if="${currentPage > 1}" th:href="@{'/tasks/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
            <span th:unless="${currentPage > 1}">Previous</span>
        </li>
        <li>
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/tasks/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>
                &nbsp; &nbsp;
            </span>
        </li>
        <li>
            <a th:if="${currentPage < totalPages}" th:href="@{'/tasks/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li>
            <a th:if="${currentPage < totalPages}" th:href="@{'/tasks/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </li>
    </ul>


    <footer th:replace="fragments :: footer"></footer>
</body>

</html>