<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head (pageTitle='Time Vision: View Task')">
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments :: header"></header>

    <div class="alert-container">
        <div th:if="${param.savesuccess}" class="alert alert-success alert-dismissible fade show">
            Attempt saved and task stats updated
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <main th:object="${task}">
        <h1 th:text="${task.name}">Task Name</h1>

        <p class="center" th:text="${task.description}">Task Description</p>

        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th>Attempts</th>
                    <th>Shortest Time</th>
                    <th>Longest Time</th>
                    <th>Average Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${task.numAttempts}">Number of Attempts</td>
                    <td th:text="${task.shortestTimeString()}">Shortest Time</td>
                    <td th:text="${task.longestTimeString()}">Longest Time</td>
                    <td th:text="${task.averageTimeString()}">Average Time</td>
                </tr>
            </tbody>
        </table>

        <h2>Attempts</h2>

        <div class="center">
            <a class="btn btn-primary btn-md mx-auto" th:href="@{'/tasks/' + ${task.id} + '/attempt/new'}">New
                Attempt</a>
        </div>
        <br>

        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Start Time</th>
                    <th>Stop Time</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="attempt : ${listAttempts}">
                    <td th:text="${attempt.startTimeString()}">Start Time</td>
                    <td th:text="${attempt.stopTimeString()}">Stop Time</td>
                    <td th:text="${attempt.durationString()}">Duration</td>
                </tr>
            </tbody>
        </table>

        <div class="center">
            <a class="btn btn-warning btn-md" th:href="@{'/tasks/edit/' + ${task.id}}">Edit Task</a>
            <a class="btn btn-danger btn-md" th:href="@{'/tasks/delete/' + ${task.id}}">Delete Task</a>
        </div>

    </main>

    <footer th:replace="fragments :: footer"></footer>

    <div th:replace="fragments :: scripts"></div>
</body>

</html>